.card {
  color: #fff;
  background-position: bottom;
  background-size: cover;
  padding: 40px 20px 0;
}

.card:nth-child(1n) {
  background-image: url(../../images/card/cover-background.png);
}

.card:nth-child(2n) {
  background-image: url(../../images/card/1-background.png);
}

.card:nth-child(3n) {
  background-image: url(../../images/card/2-background.png);
}

.card:nth-child(4n) {
  background-image: url(../../images/card/3-background.png);
}

.card:nth-child(5n) {
  background-image: url(../../images/card/4-background.png);
}

.card:nth-child(6n) {
  background-image: url(../../images/card/5-background.png);
}

.card:nth-child(7n) {
  background-image: url(../../images/card/6-background.png);
}
